
  @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
    color:white;
    user-select: none;
    cursor:pointer;

}
@font-face {
    font-family:digital-7 ;
    src: url('digital-7.ttf');
}
.days,.month{
    /* background-color: antiquewhite; */
    width:600px;
    height:50px;
    color:rgb(187,165,160);
    display: flex;
    align-items:center;
    justify-content: center;
}
.days span,.month span{
    font-size:12px;
    /* background-color: aqua; */
    width:80px;
    height:30px;
    line-height: 30px;
}
.day-active{
    color:rgba(255,195,18,1.0)!important;
}
.clock{
    
    font-size: 100px;
    display:flex;
    width:600px;
    height:100px;
    justify-content: center;
    align-items: center;
    font-family: digital-7;
    color:rgba(76,209,55,1.0);
}
.meridian span{
/* background-color: aqua; */
display: block;
width:30px;
font-size:30px;
text-align:center;
margin-left:20px;
color:rgba(113,128,147,0.1);
}
.meridian span:nth-child(2){
    margin-top: 10px;
}
.active{
    color:rgba(76,209,55,1.0)!important;
}
.num{
/* background-color: antiquewhite; */
width:50px;
height:100px;
position:relative;
text-align:right;
}
.num::before{
content:'0';
position:absolute;
/* background-color: aqua; */
top:0;
right:0;
color:rgba(113,128,147,0.1)
}
.colon{
    /* background-color: aquamarine; */
    width:50px;
    height:100px;
    text-align:center;
    animation: blink 0.7s ease infinite;
}
@keyframes blink {
    from{
        opacity:0;

    }
    to{
        opacity:1;
    }
}
.date{
    color:rgba(234,32,39,1.0);
    font-family:digital-7;
    font-size: 40px;
    font-weight: bold;
}